$fz: 1.25rem; //20px
$fzP: 1.5rem; //24px
$fzH2: 2.625rem; //42px
$fzH: 3rem; //48px
$fzNums: 4rem; //64px
$yc: #FFC20A; //yellow
$wc: #FFFFFF; //white
$maxWidth: 1230px; //main container not an all
$FM: Montserrat, sans-serif; //ff Montserrat
$FR: Roboto, sans-serif; //ff Roboto
$PadBig: 58px; //common margins and paddings between blocks
