@import "../../constants/vars";

$plink: 15px;

.linkWrapper {
  color: $wc;
  text-decoration: none;
  padding: $plink $plink $plink 0;
  display: flex;

  .link {
    cursor: pointer;
    color: $wc;
    text-decoration: none;
    padding-right: $plink;
    &:hover {
      color: $yc;
    }
  }
}