@import "../../constants/vars";

.ecommerce{
  color: $wc;
  padding-bottom: 0;
  &__container{
    max-width: $maxWidth;
    position: relative;
    padding-right: 45px;
    padding-top: 63px;
    padding-left: 15px;
  }

  &__bgImage{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    max-width: 877px;
  }

  &__text-left{
    font-family: $FR;

    .txt__h {
      padding-right: 100px;
      margin: 0;
      font-weight: 400;
      font-size: $fzH;
      padding-bottom: 15px;
    }

    .txt__p {
      margin: 0;
      font-weight: 300;
      font-size: $fzP;
      padding-bottom: $PadBig;
      letter-spacing: 0.1em;
    }

    .links{
      display: flex;
      padding-bottom: 0;

      :not(:last-child){
        margin-right: 30px;
      }
    }
  }

  &__shapes {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 330px;

    .shape-left {
      z-index: 1;
      position: absolute;
      left: 590px;
      top: 120px;
      width: 75px;
      height: 90px;
      background: rgba(46, 52, 86, 0.85);
      border-radius: 10px;
    }

    .shape-left-small {
      position: absolute;
      left: 545px;
      top: 30px;
      width: 50px;
      height: 60px;
      background: rgba(46, 52, 86, 0.85);
      border-radius: 10px;
    }

    .shape-right {
      position: absolute;
      left: 130px;
      top: 480px;
      z-index: 1;
      background: rgba(46, 52, 86, 0.85);
      border-radius: 10px;
      width: 75px;
      height: 95px;
    }

    .shape-right-small {
      position: absolute;
      left: 180px;
      top: 370px;
      z-index: 1;
      width: 50px;
      height: 60px;
      background: rgba(46, 52, 86, 0.85);
      border-radius: 10px;
    }

    .shape-main {
      position: absolute;
      width: 660px;
      height: 550px;
      background: linear-gradient(180deg, rgba(44, 53, 86, 0.8) 0%, rgba(36, 34, 69, 0.8) 100%);
      border-radius: 15px;
    }
  }
}